---
import { getCollection } from "astro:content";
import AsideCard from "./AsideCard.astro";
import { getAllCategory, getAllTag, getAllArchive, sortByCount, sortByDate, filterPublishedPosts } from "@/lib/utils";

const TAG_COUNT = 10;
const ARCHIVE_COUNT = 5;
const CATEGORY_COUNT = 5;

const allPosts = await getCollection("post");
const blogPosts = filterPublishedPosts(allPosts);

const ALL_CATEGORY = getAllCategory(blogPosts);
const ALL_TAG = getAllTag(blogPosts);
const ALL_ARCHIVE = getAllArchive(blogPosts);
---

<aside class="-order-1 hidden md:block">
  <div class="flex flex-col gap-4 w-full sticky top-3 lg:top-4">
    <!-- Profile Card -->
    <AsideCard className="pt-6 px-2">
      <div class="flex flex-col pt-0 p-6 items-center">
        <div class="w-24 h-24 rounded-full border-2 border-gray-100 overflow-hidden">
          <img src="/me.png" alt="Picture of the author" class="w-full h-full object-cover" width="96" height="96" loading="eager" />
        </div>
        <div class="flex flex-col items-center pt-2">
          <span class="text-2xl text-primary font-medium">Xmchx</span>
          <span class="text-sm text-primary truncate">Technology & Life</span>
        </div>
        <div class="flex flex-row gap-4 justify-center w-full pt-4">
          <div class="flex flex-col gap-1 items-center">
            <span class="text-lg truncate text-primary">{blogPosts.length}</span>
            <span class="text-sm text-primary">Posts</span>
          </div>
          <div class="flex flex-col gap-1 items-center">
            <span class="text-lg truncate text-primary">{Object.keys(ALL_CATEGORY).length}</span>
            <span class="text-sm text-primary">Categories</span>
          </div>
          <div class="flex flex-col gap-1 items-center">
            <span class="text-lg truncate text-primary">{Object.keys(ALL_TAG).length}</span>
            <span class="text-sm text-primary">Tags</span>
          </div>
        </div>
      </div>
    </AsideCard>

    <!-- Categories Card -->
    <AsideCard>
      <div class="flex flex-col space-y-1.5 p-6 pb-2 pt-4">
        <a href="/categories/" class="text-md font-normal tracking-tight">Categories</a>
      </div>
      <div class="flex flex-col space-y-1 px-4 p-6 pt-0">
        {sortByCount(ALL_CATEGORY, true).slice(0, CATEGORY_COUNT).map((category) => (
          <a
            href={`/categories/${category}`}
            class="items-center justify-center whitespace-nowrap transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs flex flex-row gap-2 w-full font-normal"
          >
            <span class="text-sm flex-grow truncate">{category}</span>
            <span class="text-sm">{ALL_CATEGORY[category]}</span>
          </a>
        ))}
      </div>
    </AsideCard>

    <!-- Archives Card -->
    <AsideCard>
      <div class="flex flex-col space-y-1.5 p-6 pb-2 pt-4">
        <a href="/archives/" class="text-md font-normal tracking-tight">Archives</a>
      </div>
      <div class="flex flex-col space-y-1 px-4 p-6 pt-0">
        {sortByDate(ALL_ARCHIVE, true).slice(0, ARCHIVE_COUNT).map((archive) => (
          <a
            href={`/archives/${archive}`}
            class="items-center justify-center whitespace-nowrap transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs flex flex-row gap-2 w-full font-normal"
          >
            <span class="text-sm flex-grow truncate">{archive}</span>
            <span class="text-sm">{ALL_ARCHIVE[archive]}</span>
          </a>
        ))}
      </div>
    </AsideCard>

    <!-- Tags Card -->
    <AsideCard>
      <div class="flex flex-col space-y-1.5 p-6 pb-2 pt-4">
        <a href="/tags/" class="text-md font-normal tracking-tight">Tags</a>
      </div>
      <div class="p-6 flex flex-row flex-wrap items-center pt-2 px-4">
        {sortByCount(ALL_TAG, true).slice(0, TAG_COUNT).map((tag) => (
          <a
            href={`/tags/${tag}`}
            class="inline-flex items-center justify-center whitespace-nowrap transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-sm font-normal"
          >
            {tag}
          </a>
        ))}
      </div>
    </AsideCard>
  </div>
</aside>
